@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

#containt {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Merriweather", serif;
    margin: 0 auto;
    max-width: 940px;
    
    
}


header {
    background-color: rgb(16, 16, 17);
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
   
    text-align: center;
    

    
}

img {
    width: 90px;
    padding-top: 10px;
    justify-self: center;
    align-items: center;
    height: 90px;
    box-shadow: 10px 10px 15px rgb(244, 239, 239);
   
}

nav {
    background-color: grey;
    color: rgb(11, 9, 9);
    height: 40px;
    display: flex;
    justify-content: space-around;
      
  }


  nav a {
    display: flex;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 3px;
    font-size: 1em;
    justify-content: space-around;
    
        
      
  }

  nav a:hover {
    background-color: black;
    color: white;
    
  }


h2 {  
    /*border-bottom: 1px solid grey;
    padding: 50px;*/
    text-decoration-line: underline;
    text-align: start;
    /*border-bottom: 1px solid grey;*/
    padding-bottom: 20px;

}
.grid {
    display: grid;
    height: 320px;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    background-color: grey;
    margin: 0;
    border: white;
    color: black;

}
main, .card {
    padding: 1em;
    box-shadow: 10px 10px 15px solid black;
}
h3 {
text-align: center;
    background-color: rgb(10, 9, 9);
    color: white;
    height: 40px;
    width: 90%;
    position: relative;
}

ul {
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: black;
    justify-content: space-around;
    
}
ul a {
    list-style: none;
    text-decoration: none;
    color: black;
}
ul :hover {
    background-color: black;
    color: white;
}
main .card p {
   
    padding: 10px;
}

 footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
    text-align: center;
    flex-direction: column;
    
 }
  