
/* Show the menu button only on screens smaller than 468px */
@media only screen and (max-width: 468px) {
  #menu-button {
    display: block;
  }
  .side-nav a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: 5ms;
}
.side-nav a:hover, .side-nav a:active {
  color: beige;
  background-color: #000;
}
#burger-menu::before {
content: "≡";
}
nav {
background-color: #eee;
}
.open li {
  display: block;

}
#burger-menu.open::before {
  content: "X";
}  
.side-nav  li{
  display: none;

}
}

