
@media screen and (max-width: 768px) {
    nav  {
        background-color: grey;
        color: rgb(11, 9, 9);
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    nav a {
        flex-basis: 30%;
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 3px;
        font-size: 1em;
            
          
      }
      .grid {
        display: grid;
        height: 600px;
        grid-template-rows: auto auto ;
        gap: 10px;
        background-color: grey;
        padding: 10px;
        border: 10px;
        color: black;
    
    }
    
    
    boby {
    
            align-items: center;
            text-align: center;
            justify-content: center;
            font-family: "Merriweather", serif;
            margin: 0 auto;
            max-width: 600px;
    }
    header {
        background-color: rgb(16, 16, 17);
        color: white;
        display: flex;
        justify-content: center;
        height: 100px;
       
        text-align: center;
        
  }
}
  
 
  @media screen and (max-width: 320px)  {
    nav  {
        background-color: grey;
        color: rgb(11, 9, 9);
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    nav a {
        flex-basis: 30%;
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 3px;
        font-size: 1em;
            
          
      }
      .grid {
        display: grid;
        height: 600px;
        grid-template-rows: auto auto ;
        gap: 10px;
        background-color: grey;
        padding: 10px;
        border: 10px;
        color: black;
    
    }
    
    
    boby {
    
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: "Merriweather", serif;
        margin: 0 auto;
        max-width: 600px;
    }
    header {
        background-color: rgb(16, 16, 17);
        color: white;
        display: flex;
        justify-content: center;
        height: 100px;
       
        text-align: center;
        
  }
  }