
@media screen and (min-width: 40em) {
  .side-nav {
    display: flex;
  }
  .side-nav li {
    display: block;
    flex: 1 1 100%;
  }
  .side-nav a {
    text-align: center;
  }
  #burger-menu {
    display: none;
  }
}
/* Custom, iPhone Retina */ 
/*@media only screen and (min-width : 320px) {
.burger-menu-btn {
  display: block;
}

}

/* Extra Small Devices, Phones */ 
/*@media only screen and (min-width : 480px) {

.burger-menu-btn {
  display: block;
}

}*/

/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px) {
/* Hide the hamburger button on tablets */
/*.burger-menu-btn {
display: none;
}

}*/

/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px) {
/* Hide the hamburger button on desktop */
/*.burger-menu-btn {
display: none;
}

}*/

/* Large Devices, Wide Screens */
/*@media only screen and (min-width : 1200px) {
/* Hide the hamburger button on larger devices */
/* .burger-menu-btn {
  display: none;
}

}*/

