@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Young+Serif&display=swap');


/*.body {
    /*max-height: px;
    margin:  auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Young Serif", Merriweather ;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    text-align: center;
    background-color: #3a0ca3;
    
  }
  h2 {
    text-align: center;
  }
  
  header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    text-align: center;
    height: 90px;
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
    text-align: center;
  }
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    text-align: center;
  }
  .colors {
    width: 30%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #3a0ca3;
    text-align: center;
  }
  .colors td{
    width: 25%;
    height: 5em;
    text-align: center;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    text-align: center;
  }
  nav  {
    list-style-type: none;
    display: flex;
    text-align: center;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }
 
 
  nav  {
    list-style-type: none;
    display: flex;
    text-align: center;
  }
  nav a {
    
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
    text-align: center;
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }*/
  .body {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    font-family: "Young Serif", Merriweather;
  }