body {
    font-family: "Roboto", sans-serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 5px solid yellow;
    padding: 1rem;
    background-color: rgb(239, 200, 200);
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}
footer {
    background-color: black;
    color: white;
}