@media screen and (max-width: 400px) {
   .body, .container, .action, .card, .card2{
    display: block;
    height: auto;
   }
   nav, footer {
    flex-direction: column;
}
header {
    display: block;
}
.second-hero{
    display: block;
}
.card2 {
    display: block;
}
nav a {
    display: block;
    padding: 15px;
}
main {
    flex-direction: column;
    height: auto;
    font-size: 18px;
}
.action, .second-hero, p{
    display: block;
}

.left,.center, .right {
    display: block;
    font-size: 18px;
}
.card2 {
    display: block;
}
.Current-Weather {
    display: none;
}
}



    