@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.items {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 940px;
    max-height: max-content;
    
    margin: 0 auto;
    font-family: "Merriweather", sans-serif;

}
header {
    text-align: center;
    height: 100px;
    background-color: brown;
}
.grid {
    display: grid;
    grid-template-columns: auto ;
    gap: 3px;
    width: 200px;
    text-align: center;
    padding: 10px;

}
grid ,img, h3, h4 {
    border: 1px solid brown;
    padding: 5px;
    text-align: center;
    
    
}
img  {
   width: 310px;
    height: 500px;
    /*text-align: center;
    justify-content: center;*/
    
   
}
h3 , h4 {
    background-color: brown;
   
    
   

}
h2 {
    text-align: left;
    background-color: rgb(228, 224, 224);
    
    padding: 5px;
}

footer {
    text-align: center;
    height: 100px;
    background-color: brown;
}
.card {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;

}
.card img {
    width: 500px;
    height: 800px;
}
.rule {
    width: 800px;
    height: 1200px;
}