@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    

}
.content {
    font-family: "Young Seri" , Merriweather ;
    max-width: 990px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

header {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-color: #d785da;
    color: black;
    
}
.logo {
    width: 130px;
    padding-top: 5px;
    justify-self: left;
    text-align: left;
    padding: 10px;
    
    
}
nav {
    text-align: center;
    justify-self: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 3px;
    font-family: Young Seri;
   font-size: 1.5rem;
   height: 200px;
   list-style: none;
}
nav a:hover {
    color: #d785da;
    background-color: white;
}
nav li {
    list-style: none;
    /*position: relative;*/
    display: inline-block;
    


}
.hero {
    width: 95%;
    padding: 10px;
    border: 1px solid #e40808;
    box-shadow: 0 0 15px #d785da;
    padding: 20px;
}
.button-box {
    text-align: center;
   
}

main {
    
   justify-content: center;
   background-color: #f0e370;
   margin: 5px;
   height: 1200px;
}
main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;
}
.book {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #f0e370;
    background-color: #e40808;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #d785da;
} 
.book:hover { background-color: #d785da;}
.book:active {
    background-color: #d785da;
    box-shadow: 0 5px #e40808;
    transform: translateY(4px);
}


#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
    
}
div .foot {
    width: 30%;
    float: left;
    margin: 20px;

    
}
div .foo {
    width: 40%;
    float: right;
}


footer {
    
    background-color: #d785da;
    text-align: center;
    padding: 20px;
    align-items: center;
    text-align: center;
    height: 100px;
    
    
}

/*discoverpage*/
#sidebar  {
    height: 2500px;
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  h1, h2, h3, h4, h5 {
    background-color: #d785da;
    border-radius: 10px;
    
  }
  h4, h5, h3 {
    height: 50px;
  }
  h6 {
    font-size: 15px;
  }
  .gallery-img {
    /* Add some margin and border for styling */
       /*margin: 10px;*/
       border: 5px solid #e40808;
       box-shadow: 5px 5px 10px #e40808;
       transition: box-shadow 0.3s;
  }
  .container {
    position: relative;
    width: 20%;
    padding: 10px;
    
  }
  .zoom {
    display: block;
    width: 500px;
    height: auto;
    
  }
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 110%;
    right: 20%;
    -webkit-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    text-align: center;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #d785da;
    overflow: hidden;
    width: 500px;
    height: 380px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .flip:hover {
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);

  }
  .shake:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .box-shadow {
     /* Set the width and height of the images */
  width: 400px;
  height: 300px;
  /* Add some margin and padding around the images */
  margin: 10px;
  padding: 10px;
  }
.box-shadow:hover {
    /* Add a box-shadow effect with the following values */
    /* horizontal offset: 10px, vertical offset: 10px, blur radius: 15px, spread radius: 5px, color: black */
    box-shadow: 10px 10px 15px 5px black;
    /* Add a transition effect to make the shadow appear smoothly */
    transition: box-shadow 0.3s;
  }
  .select {
    /* Set the transition duration to 0.5 seconds */
  transition: 0.5s;
  }
  .select:hover {
    /* Rotate them by 15 degrees */
  transform: rotate(15deg);

  }
  /*------------------form page-----------*/
  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


form label#top input, form label#top  {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #e40808;
  border-radius: 4px;
  padding: .75rem;
  color: #fff;
  width: 100%;
  max-width: 20rem;
  background-color: #d785da;
  
}
form label#top, form div {
  display: block;
  padding-top: 1rem;
  color: #000;
  font-size:  .8rem;
  text-align: left;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid #e40808;
  border-radius: 10px;
  padding: .5rem 2%;
}
form legend {
  color: #e40808;
  margin: 0 1rem;
  padding: 0 .5rem;
  text-align: left;
}
form label#level {
  display: block;
  padding: .75rem 0;
  color: #000;
  font-size: 15px;

}
form label#level:hover {
  color: #d785da;
  background-color: #000;
}
form label#descrip, form textarea#descrip {
  display: block;
  text-align: left;
}
form input#submit-btn {
  border-radius: 5px;
  background-color: #e40808;
  color: #000;
  padding: .75rem 1.5rem;
  margin: 2rem auto;
  width: 56%;
  max-width: 8rem;
  
}
.side {
  height: 1800px;
}

 main.table {
  display: grid;
  grid-template-columns: auto, 2fr;
 }
 .mbs {
  background-color: #f0e370;
  padding: 10px;
 }
.mbs .eve {
  display: table;
}

/*--------Directory Page--------*/
.directoryPagess{


	background-color: rgb(235, 235, 224);
   
  } 
  h2.dirHeading {
	  font-family: 'Arial Narrow';
	  font-size: x-large;
	  color:rgb(90, 90, 81);
	  text-align: center;
	  padding: 1.5rem;
	  margin-bottom: 3rem;
  }
  .list-view section h2, .grid-view section h2 {
	  font-family: 'Noto Serif';
	  text-align: center;
	 
	
  }
  /*--------Directory Page buttons----------*/
  .links ul {
	  font-size: x-large;
	  display: flex;
	  justify-content: center;
	  list-style: none;
  }
  .links #list {
	  margin: 7px;
	  font-size: 4rem;
  }
  
  /*--------Grid View-------------*/
  .grid-view section {
	
	  background-color: #f0e370;
	  margin: 1rem;
	  padding: 2.5rem 1.5rem;
	  border-radius: 1rem;
	  border: #e40808 2px solid;
	  color: #000101;
   min-height: fit-content;
  }
  .grid-view section img{
	  display: block;
	  width: 50%;
	  margin: 0 auto;
	  padding: 2rem;
  }
  .grid-view section hr {
	  color: black;
	  margin-bottom: 1.5rem;
  }
  .grid-view section p,
  .grid-view section a {
	  text-align: start;
	  color: #000101;
	  font-size: 13px;
	  font-weight: bolder;
	  padding: 5px 0;
  }
  /*-----------List View------------*/
  .list-view section {
	  margin: 1rem;
	  padding: 2.5rem 1.5rem;
	  border-radius: 1rem;
	  border: #e40808 2px solid;
	  color: #fff;
  }
  .list-view section:nth-last-of-type(even) {
	  
	  background-color: #d785da;
	  font-weight: 100;
	  color:black
	  
  }
  .list-view section:nth-last-of-type(odd) {
	  
	background-color: #d785da;
	font-weight: 100;
	color:black
	
  }
  
  .list-view section p {
	  padding: 2px;
  }
  .list-view section:last-child {
	  margin-bottom: 0rem;
  }
  
  .dire {
    
  }
  .directoryPage {
   max-width: 940px;
   height: 3500px;
   margin: 0 auto;
  }