@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    /*margin: 0;*/

}
.content {
    font-family: "Young Seri" , Merriweather ;
    max-width: 990px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

header {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-color: #d785da;
    color: black;
    
}
.logo {
    width: 130px;
    padding-top: 5px;
    justify-self: left;
    text-align: left;
    padding: 10px;
    
}
nav {
    text-align: center;
    justify-self: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 3px;
    font-family: Young Seri;
   font-size: 1.5rem;
   height: 200px;
   list-style: none;
}
nav a:hover {
    color: #d785da;
    background-color: white;
}
nav li {
    list-style: none;
    /*position: relative;*/
    display: inline-block;
    


}
.hero {
    width: 95%;
    padding: 10px;
    border: 1px solid #e40808;
    box-shadow: 0 0 15px #d785da;
    padding: 20px;
}
.button-box {
    text-align: center;
   
}
/*main .card {
    width: 50%;
    padding: 5px;
    
}*/
main {
    
   justify-content: center;
   background-color: #f0e370;
   margin: 5px;
   height: 1000px;
}
main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;
}
.book {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #f0e370;
    background-color: #e40808;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #d785da;
    z-index: -10px;
}
.book:hover { background-color: #d785da;}
.book:active {
    background-color: #d785da;
    box-shadow: 0 5px #e40808;
    transform: translateY(4px);
}

/*#side-nav a {
    display: block;
    /*padding: 0.75rem;*/
   /* text-align: center;
    text-decoration: none;
    color: #f0e370;
    font-weight: 200;
    transition: 5ms;
}*/
/*#side-nav a:hover, .side-nav a:active {
    color: beige;
    background-color: #000;
}*/
/*.menu::before {
	content: "≡";
}

.open li {
    display: block;

}
.menu.open::before {
    content: "X";
}  */
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
    
}



footer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    background-color: #d785da;
    text-align: center;
    padding: 20px;
    align-items: center;
    text-align: center;
    
    
}
