* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}



.list #container:nth-child(even) {
	background-color: #bed;
}
/*****************************************************************************************/
