/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}



.list #container:nth-child(even) {
	background-color: #bed;
}*/
/*****************************************************************************************/
@media only screen and (min-width: 40em) {
    /* typography */
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3, legend {
        font-size: 20px;
    }
    p, label {
        font-size: 16px;
    }
    /* heading */
    header img {
        width: 128px;
    }
    .headings h1 {
        font-size: 40px;
    }
    .social {
        font-size: 22px;
        display: block;
    }
    /*header navigation */
	.navigation {
		display: block;
	}
	.navigation li {
        flex: 1 1 auto;
		display: block;
	}
	.navigation li:first-child {
		display: none;
    }
    .navigation a {
        font-size: 18px;
    }
    nav ul {
        display: block;
    }
    /* footer */
    footer p {
        font-size: 20px;
    }
    main #forcastArea{
        width: 50%;
    }
    
    .info {
        display: block;
    }
    /* five day forcast area */
    #forcastArea {
        display: block;
    }
    /* article area */
    foot {
        margin: 0 0 5px 15px;
        width: 40%;
        float: right;
        display: block;
    }    
    /* contact area */
    .foo {
        display: block;
    }
   
    
    .containt {
        flex-direction: row;
    }
    
    
   
}